/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --blue: #2a2185;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    display: grid;
    font-family: var(--font-family-base);
    line-height: 1.5;
    margin: 0;
    min-block-size: 100vh;
    padding: 5vmin;
    place-items: center;
}

.container {
    position: relative;
    width: 100%;
}


/* ======================= Cards ====================== */
.cardBox {
    position: revert;
    width: 107%;
    padding: 35px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: black;
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 3.5rem;
    color: var(--black2);
}

.cardBox .card:hover {
    background:linear-gradient(135deg,#333333,#f80000);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--white);
}

/* ================== Order Details List ============== */
.details {
    position: relative;
    width: 105%;
    padding: 9px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 13px;
    /* margin-top: 10px; */
}

.details .recentOrders {
    position: relative;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2 {
    font-weight: 600;
    color: var(--black1);
}

.cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: linear-gradient(135deg,#333333,#f80000);;
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td {
    font-weight: 600;
}
.details .recentOrders table tr {
    color: var(--black1);

}
.details .recentOrders table tr:last-child {
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
    background: linear-gradient(135deg,#333333,#f80000);
    color: var(--white);
}
.details .recentOrders table tr td {
    padding: 10px;
}
.details .recentOrders table tr td:last-child {
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
    text-align: center;
}
.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
}
.status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.return {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.inProgress {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.recentCustomers {
    position: relative;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}
.recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recentCustomers table tr td {
    position: relative;
    bottom: 140px;
}
.recentCustomers table tr td h4 {
    font-size: 2px;
    font-weight: 500;
    line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
    font-size: 14px;
}
.recentCustomers table tr:hover td h4 span {
    color: var(--white);
}


h6{font-size:1em;}



.invoice {
    background: #fff;
    width: 100%;
    padding: 50px;
}

.logo {
    width: 4cm;
}

.document-type {
    text-align: right;
    color: #444;
}

.conditions {
    font-size: 0.7em;
    color: #666;
}

.bottom-page {
    font-size: 0.7em;

}

